/* .header-pic {
    max-width: 50rem;
    width: 100%;
    height: auto;
} */

body {
    font-family: Georgia, serif;
}

.hero-img {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
}

h1 {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 10px
  }

::-webkit-scrollbar-track {
    background-color: #212529;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #fcc419, #ff6625  ,#e71919);
  }
  
 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, #E3B017, #e65c21, #d01717); 
}