@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

h1, h2, h3, h4, h5, h6 , li{
    font-family: "Montserrat", sans-serif;
}

.hero-img {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/hero.jpg);
}



::-webkit-scrollbar {
    width: 10px
  }

::-webkit-scrollbar-track {
    background-color: #212529;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #fcc419, #ff6625  ,#e71919);
  }
  
 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, #E3B017, #e65c21, #d01717); 
}
